* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    font-family: 'Assistant';
}

                                                                    /* KEYFRAMES */


                                                                    /* HEADER Y NAVBAR */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 100%;
    background-color: rgb(56, 56, 56);
    position: fixed;
    top: 0;
    z-index: 2;
}

header img {
    width: 175px;
    height: 175px;
}

.menu-label img {
    width: 65px;
    height: 65px;
    cursor: pointer;
}

.cart-img {
    width: 75px;
    height: 75px;
    cursor: pointer;
    margin-right: 30px;
}

.navbar,
.navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-size: 19px;
}

.navbar-links a {
    color: white;
    font-weight: 700;
}

                                                                    /* CART DESPLEGABLE, PARTE DEL HEADER */
#menu-toggle,
#cart-toggle,
.menu-label {
    display: none;
}

.cart {
    position: absolute;
    top: 75px;
    right: 0;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: calc(95vh - 75px);
    overflow-y: scroll;
    display: none;
    z-index: 2;
    border-left: 1px solid crimson;
    background-color: rgb(8, 8, 41);
}

#cart-toggle:checked + .cart {
    display: flex;
}

.cart::-webkit-scrollbar {
    display: none;
}

                                                                    /* MAIN */
                                                                            /* PORTADA */
#portada {
    background-image: url('./Main/Adidas.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portada-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 30px 20px;
}

.separador {
    outline: 2px solid crimson;
    width: 95px;
    margin-top: 3px;
    margin-bottom: 4rem;
}

.portada-info h1 {
    font-weight: 800;
    font-size: 35px;
    text-transform: uppercase;
}

.portada-info p {
    font-size: 19px;
    font-weight: 800;
    color: black;
    margin-bottom: 40px;
}

.info-a {
    color: white;
    font-weight: 800;
    background-color: crimson;
    border-radius: 7px;
    padding: 14px;
    width: 30%;
    text-transform: uppercase;
    text-align: center;
}

.portada-info-bot {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
                                /* HREF PORTADA */
.info-bottom {
    color: white;
    font-weight: 800;
    margin-top: 20px;
    font-size: 16px;
}

                                                                    /* SECCION BRANDS - MARCAS */
#brands {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: rgb(228, 228, 228);
    padding: 20px 30px;
    width: 100%;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.brands-title h2 {
    font-size: 27px;
    color: black;
    margin-top: 14px;
    padding: 20px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.brands-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.brands-images img {
    width: 105px;
    height: 105px;
}

                                                                    /* SECCION NEW-PRODUCTS - NUEVOS PRODUCTOS */
#new-products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

#new-products h3 {
    font-size: 27px;
    color: black;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 20px;
    font-weight: 800;
}

.new-products-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
}

.product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    outline: 1px solid gray;
}

.product img {
    width: 385px;
    height: 385px;
}

.product-info-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.product-info-top p {
    font-weight: 800;
    font-size: 19.5px;
    color: black;
}

.product-info-top span {
    font-weight: 800;
    font-size: 16px;
    color: black;
}

.product-info-top h4 {
    font-weight: 800;
    font-size: 22px;
    color: black;
}

.product-info-bot {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
}

.product-info-bot p {
    color: #ed6800;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
}


                                                                    /* CATALOGUE SECTION - SECCION DE CATALOGO */
#catalogue {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 30px;
    height: 50%;
}

.catalogue-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    background-color: rgb(228, 228, 228);
    border-radius: 12px;
}

.catalogue-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.catalogue-info h2 {
    font-weight: 800;
    font-size: 27px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.catalogue-info p {
    width: 70%;
    font-weight: 800;
    font-size: 18px;
}

.catalogue-info a {
    color: white;
    font-weight: 800;
    background-color: black;
    border-radius: 9px;
    padding: 14px;
    width: 20%;
    text-transform: uppercase;
    text-align: center;
}

.catalogue-image {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.catalogue-image img {
    width: 350px;
    height: 350px;
    border-radius: 10px;
}

                                                                    /* MOST SOLD - MAS VENDIDOS SECTION */
#most-sold {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column; 
    padding: 20px 0px 20px 70px;
}

#most-sold h3 {
    font-size: 27px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 20px;
    font-weight: 800;
}

.most-sold-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; IDK IDK */
    gap: 20px;
    max-width: 1600px;
}

.product-sold {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    outline: 1px solid gray;
}

.product-sold img {
    width: 385px;
    height: 385px;
}

.info-product_top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
}

.info-product_top p {
    font-weight: 800;
    font-size: 19.5px;
    color: black;
}

.info-product_top span {
    font-weight: 800;
    font-size: 16px;
    color: black;
}

.info-product_top h4 {
    font-weight: 800;
    font-size: 22px;
    color: black;
    margin-bottom: 3px;
}


                                                                    /* INFO/HELP SECCION */
#info-help {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    border-radius: 12px;
    height: 50%;
    background-color: rgb(228, 228, 228);
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
    max-width: 1200px;
}

.info-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    flex-wrap: wrap;
    padding: 10px;
}

.info-images img {
    width: 85px;
    height: 85px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7px;
    padding: 10px;
}

.info h2 {
    font-size: 27px;
    font-weight: 800;
    color: black;
}

.info p {
    font-size: 18px;
    font-weight: 800;
    color: black;
}

                                                                    /* FOOTER */
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    padding: 20px 30px;
    flex-wrap: wrap;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    gap: 50px;
    max-width: 1200px;
}

.container-links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.container-links h2 {
    font-size: 24px;
}

.container-links a {
    color: white;
}

.container-links li {
    font-size: 17px;
                                /* SEGUIR EDITANDO LUEGO */
}

.container-links .compra {
    text-transform: uppercase;
    outline: 1px solid white;
    background-color: rgba(245, 245, 245, 0.055);
    padding: 7px;
    border-radius: 9px;
    text-align: center;
    font-weight: 600;
}

.socials {
    display: flex;
    gap: 20px;
}

.socials img {
    border-radius: 4px;
    width: 30px;
    height: 30px;
    
}