* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style-type: none;
    text-decoration: none;
}

body {
    font-family: 'Assistant';
}
                                                                    /* HEADER Y NAVBAR */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    width: 100%;
    background-color: rgb(56, 56, 56);
    position: fixed;
    top: 0;
    z-index: 2;
}

header img {
    width: 175px;
    height: 175px;
}

.menu-label img {
    width: 65px;
    height: 65px;
    cursor: pointer;
}

.navbar,
.navbar-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    font-size: 19px;
    margin-right: 20px;
}

.navbar-links a {
    color: white;
    font-weight: 700;
}

.navbar-links {
    position: relative;
    position: 0;
}

.navbar-links li {
    position: relative;
    padding: 0;
}

.navbar-links li::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 1s ease;
}

.navbar-links li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#menu-toggle,
.menu-label {
    display: none;
}

                                                                    /* MAIN */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/forms-imgs/3.jpeg');
    background-clip: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

#formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
    background-color: #fff;
    outline: 1px solid black;
    width: 420px;
    height: 450px;

}

.formulario-inicio h1 {
    margin-bottom: 20px;
    font-size: 28.5px;
    font-weight: 800;
}

.formulario-top h4 {
    padding: 9px;
}

.formulario-top input {
    padding: 10px;
    width: 250px;
    border: none;
    border-bottom: 1px solid gray;
    border-radius: 1px;
}

::placeholder { 
    color: black; 
}

form input[type="text"] {
    background-color: transparent;
    color: black;
}

.formulario-bottom {
    display: flex;
}

.formulario-bottom label {
    margin-top: 7px;
    cursor: pointer;
}

.checkbox {
    margin-top: 7px;
}

/* ESTO SIRVE PARA CAMBIARLE EL COLOR AL CHECKED DEL INPUT CHECKBOX */
input[type='checkbox'] {
    accent-color: crimson;
    cursor: pointer;
}

.formulario-bottom input {
    margin-left: 10px;
    
}

.btn-login {
    width: 40%;
    color: white;
    background-color: crimson;
    border-radius: 6.5px;
    font-weight: 800;
    padding: 10px;
    border: none;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.5s;
}

.btn-login:hover {
    background-color: black;
    color: white;
    font: 800;
}

.register {
    margin-top: 15px;
    font-size: 16.7px;
}

.register a {
    color: rgb(220, 20, 60);
    font-weight: 800;
    transition: .5s;
}

.register a:hover {
    color: black;
    font-weight: 800;
}

                                                                    /* RESPONSIVE */
@media (max-width: 992px) {
                            /* NAVBAR */
    .header {
        gap: 15px;
    }
    
    .navbar-links {
        position: absolute;
        top: 75px;
        right: 5%;
        left: 5%;
        width: 90%;
        flex-direction: column;
        display: flex;
        align-items: center;
        background-color: black;
        border-radius: 0px 0px 15px 15px;
        border: 1px solid crimson;
        border-top: none;
        padding: 25px 15px;
        gap: 15px;
        z-index: 2;
        display: none;
    }

                            /* MENU */
.menu-label {
    display: flex;
    order: 2;
    cursor: pointer;
    margin-right: 10rem;
}

#menu-toggle:checked + .navbar-links {
    display: flex;
}

                            /* ESTILOS GENERALES DE LA CARD */
.formulario-inicio h1 {
    font-size: 35px;
}

.formulario-top h4 {
    font-size: 22px;
}

.formulario-bottom label {
    font-size: 18px;
}

.btn-login {
    width: 43%;
}

.register {
    font-size: 19px;
}

}

@media (max-width: 576px) {
    .register {
        font-size: 16px;
    }

    #formulario {
        width: 340px;
    }
}
